<%= content_for :meta_title_and_keywords do %>
    <title>Muvi Facebook Covers</title>
    <meta name='keywords' content='movie API, muvi API, movie database, celebrity api, movie baas' />
    <meta name='description' content='Get movie and celebrity database API to power your mobile or web applications' />
<%- end %>

<div class="api mainbox" style ="width:1024px"> 
<h1>Muvi Facebook Covers</h1>
<!-- <div class="livechat">Questions? <img src="/images/m_live_chat_btn.png" /></div> -->
<div class="clear" style="height:20px;"></div> 
<hr/>
<h3>Download exciting muvi pictures that you can use as your Facebook cover</h3>
<p>Right click on any picture click on 'Save As' save to your computer and then upload to Facebook as your cover picture. Easy-weasy!<br/>Collection is updated every 2-3 days . Bookmark this page and keep checking for new additions.<br/>Questions or specific request? Email us at <a href="mailto:fbcover@muvi.com">fbcover@muvi.com</a></p>
<center>
<div class="clear" style="height:20px;"></div>
<div style="background-image: url('http://img1.jurko.net/wall/paper/donald_duck_4.jpg'); width:851px; height:351px;  background-position:center;">&nbsp;</div>
<div class="clear" style="height:20px;"></div>
<div style="background-image: url('http://img1.jurko.net/wall/paper/donald_duck_4.jpg'); width:851px; height:351px;  background-position:center;">&nbsp;</div>
<div class="clear" style="height:20px;"></div>
<div style="background-image: url('http://img1.jurko.net/wall/paper/donald_duck_4.jpg'); width:851px; height:351px;  background-position:center;">&nbsp;</div>
<div class="clear" style="height:20px;"></div>
<div style="background-image: url('http://img1.jurko.net/wall/paper/donald_duck_4.jpg'); width:851px; height:351px;  background-position:center;">&nbsp;</div>
<div class="clear" style="height:20px;"></div>
<div style="background-image: url('http://img1.jurko.net/wall/paper/donald_duck_4.jpg'); width:851px; height:351px;  background-position:center;">&nbsp;</div>
<div class="clear" style="height:20px;"></div>
<div style="background-image: url('http://img1.jurko.net/wall/paper/donald_duck_4.jpg'); width:851px; height:351px;  background-position:center;">&nbsp;</div>
<div class="clear" style="height:20px;"></div>
<div style="background-image: url('http://img1.jurko.net/wall/paper/donald_duck_4.jpg'); width:851px; height:351px;  background-position:center;">&nbsp;</div>
<div class="clear" style="height:20px;"></div>
<div style="background-image: url('http://img1.jurko.net/wall/paper/donald_duck_4.jpg'); width:851px; height:351px;  background-position:center;">&nbsp;</div>
<div class="clear" style="height:20px;"></div>
</center>
</div>
