<%= content_for :meta_title_and_keywords do %>
    <title>Muvi BaaS | Movie and Celebrity Database API</title>
    <meta name='keywords' content='movie API, muvi API, movie database, celebrity api, movie baas' />
    <meta name='description' content='Get movie and celebrity database API to power your mobile or web applications' />
<%- end %>

<div class="api mainbox"> 
<h1>Muvi BaaS (Backend as a Service)</h1>
<!-- <div class="livechat">Questions? <img src="/images/m_live_chat_btn.png" /></div> -->
<div class="clear" style="height:20px;"></div> 
<h2>MUVI API</h2>
<hr/>
<h3>Web Services API for movie and celebrity information <br/> Get it up and running on your mobile/web app within minutes</h3>
<p style="font-size:17px;"><b>Data Includes</b></p>
<ul>
  <li>Hollywood and international (Bollywood, Tamil, Telugu): Over 100,000 movies and 1 million celebrities. More countries to be added soon</li>
  <li>Movie information: Cast and crew, Genre, Story, Release date, Muvimeter (aggregated movie reviews)</li>
  <li>Celebrity information: Birthdate, Filmography, Top movies, Upcoming movies</li>
  <li>Social features (which movies your friends liked, celebrities your friends are fans of etc...)</li>
  <li>And much more...</li>
</ul>
<p style="font-size:17px;"><b>Key Features</b></p>
<ul>
  <li>Supports any platform and device - mobile or web.</li>
  <li>Scalable, reliable: Muvi data sits on top of multiple cloud layers. Your applications will be always up.</li>
  <li>Custom code: Use sample code templates to speed up your integration.</li>
  <li>Secure: All communication with Muvi API is encrypted.</li>
  <li>Pay-per-usage pricing: Pay only for what you use.</li>
</ul>
<div class="clear" style="height:20px;"></div>
<p><b>Need more information on Muvi BaaS? Email us <a href="mailto:baas@muvi.com">baas@muvi.com</a></b></p>
<div class="clear" style="height:30px;"></div>
<h2>MUVI WIDGET</h2>
<hr/>
<p><b>Awesomify your website or blog by adding 2 lines of Javascript!</b><br/>Make your website more attractive by adding a Muvi widget. It's FREE and takes 2 minutes to set up. Choose from dozens of styles and contents including Muvimeter (aggregated reviews of latest Hollywood/Bollywood/Tamil/Telugu movies), Muvibuzz (top 5 upcoming movies) and Starindex (currently trending celebrities).</p>
<p>And the best part? <b>Muvi widget pays you through increased ad revenue</b>. Clicking on any link in the widget opens a Muvi page within your website on which you can place an ad. See how it works <a href="http://entertainment.in.msn.com/" target="_blank">here</a>. </p>
<center><img src="/images/m_muvimeter.png" alt="muvimeter" style="padding:15px 0;"></center>
<div class="clear" style="height:20px;"></div>
<h2>WHO IS USING IT?</h2>
<hr/>
<a href="http://entertainment.in.msn.com/" target="_blank"><img src="/images/MSN-logo.png" alt="MSN" style="padding:15px 0;"></a>
<a href="http://www.lehren.tv/" target="_blank"><img src="/images/zen_logo.gif" alt="Lehren" style="padding:15px 0;padding-left:20px"></a>
<a href="http://shop.seventymm.com/CelebBuzz" target="_blank"><img src="/images/seventymm-logo.png" alt="Lehren" style="padding:15px 0;padding-left:20px"></a>
<p><b>Need more information on Muvi BaaS? Email us <a href="mailto:baas@muvi.com">baas@muvi.com</a></b></p>
<div class="clear" style="height:20px;"></div>
</div>
