:javascript
  $('#errors').css("color", "green");
  $('#errors').html("<p>#{@success} </p>");

  $("#errors").show();
  $("#email_submit").removeAttr("disabled");
  $("#email_submit").removeAttr("style");
  $("#email_submit").val("Get Invitation");


