%div{:id => "icon_div", :style => "padding-left:5px;float:right;border:0px solid #FFF;margin-top: -115px; position: relative; right: 10px; width: 270px;background-color:#373C3F;box-shadow:-1px 1px 1px #1C1D1F; color:#CCD1D5;padding:10px 0px 6px 6px;font-size:9px;"}

  
  .left{:id => "chrome_icon", :style => "width:20px;display:none;"}
    /  =image_tag("mob_icon_d.png", :onmouseover => "$(this).attr('src', '/images/mob_icon.png');", :onmouseout => "$(this).attr('src', '/images/mob_icon_d.png');", :style => "cursor:pointer;")  

    =link_to image_tag("chrome_icon_d.png", :onmouseover => "$(this).attr('src', '/images/chrome_icon.png');", :onmouseout => "$(this).attr('src', '/images/chrome_icon_d.png');", :style => "cursor:pointer;"), "https://chrome.google.com/webstore/detail/allboknhaioifkkhmifhijibkndcgmod?hl=en&gl=IN", :target => "_blank"

  .left{:style => "width:65px"}
    Keep in touch

  .left{:style => "cursor:pointer; width:70px; background:url(/images/fb_icon_d.png) no-repeat left top;", :onmouseover => "this.style.background = 'url(/images/fb_icon.png) no-repeat left top';", :onmouseout => "this.style.background = 'url(/images/fb_icon_d.png) no-repeat left top';"}

    %div{:style => "margin-left:12px"}
      =link_to "Facebook", "http://www.facebook.com/muvidotcom", :style => "color:#CCD1D5", :target => "_blank"

  .left{:style => "cursor:pointer; width:55px; background:url(/images/twitter_icon_d.png) no-repeat left top;", :onmouseover => "this.style.background = 'url(/images/twitter_icon.png) no-repeat left top';", :onmouseout => "this.style.background = 'url(/images/twitter_icon_d.png) no-repeat left top';"}
    %div{:style => "margin-left:12px"}
      =link_to "Twitter", "http://www.twitter.com/muvi", :style => "color:#CCD1D5", :target => "_blank"

  .left{:style => "cursor:pointer; width:75px; background:url(/images/gplus_icon_d.png) no-repeat left top;", :onmouseover => "this.style.background = 'url(/images/gplus_icon.png) no-repeat left top';", :onmouseout => "this.style.background = 'url(/images/gplus_icon_d.png) no-repeat left top';"}
    %div{:style => "margin-left:12px"}
      =link_to "Google Plus", "https://plus.google.com/110880828882082462357/", :style => "color:#CCD1D5", :target => "_blank"


:javascript
  var userAgent = navigator.userAgent.toLowerCase(); 
  $.browser.chrome = /chrome/.test(navigator.userAgent.toLowerCase()); 

  if($.browser.chrome){
    $("#icon_div").css("width", "290px");
    $("#chrome_icon").show();
  }

