<div style="width: 170px; font-family: 'Open Sans', sans-serif; font-size: 14px; border: 1px solid #DDD; border-radius: 5px; margin: 0 auto;">
    <div class="pt-gw-sidebar" style="font-weight: bold; position: relative;">
        <div class="pt-gw-title" style="color: #fff; overflow: hidden; clear: both; border-top-left-radius: 5px; border-top-right-radius: 5px;background: url(//static.punchtab.com/nd/images/logo-18.png) no-repeat; background-position: 10px 0; background-color: #434343; padding: 5px 0; min-height: 22px; width: 100%;">
            <div class="inner" style="text-align: center; float: left; margin: 0 30px;">
                2 FREE Tickets to Total Recall
            </div>
        </div>
    </div>
    <div class="pt-gw-content" style="clear: both; overflow: hidden; position: relative;">
        
        <div class="pt-gw-image" style="margin: auto; margin-top:10px; width: 100px; height: 160px;">
            <img src="https://s3.amazonaws.com/punchtab-01/gw/2PWDYH736O5HYHRB3N566CWQBB3WILHG_cropped.jpeg" alt="2 FREE Tickets to Total Recall" title="2 FREE Tickets to Total Recall"/>
        </div>
        <div style="clear: both;"></div>
        
        <div class="pt-gw-description" style="text-align:center;margin-top:10px;">
            Winner will be emailed 2 free movie tickets. More points you get - better are your chances.
* Offer valid in US and India.
        </div>
    </div>
    <div class="pt-gw-enter_now" style="margin: 10px auto 5px; min-height: 28px; width: 100%; background: none; border: none; box-shadow: none; padding: 0;">
        <a href="http://www.muvi.com/user_signup" style="text-decoration: none; background: #2F9AB5; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2F9AB5), color-stop(50%,#2F9AB5), color-stop(51%,#267B91), color-stop(100%,#267B91)); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f9ab5', endColorstr='#267b91',GradientType=0 ); margin: auto !important; color: white !important; border-radius: 5px !important; border: none !important; font-family: cabin,sans-serif !important; display: block !important; font-weight: bold !important; padding: 5px 15px; padding: 5px 15px; width: 75px; font-size: 15px !important; cursor: pointer;">Enter Now</a>
    </div>
</div>
