-@refer = @movie ? @movie : @celebrity
- if @video_list.size + @poster_list.size > 0
  %a{:href => "#", :name => "videopics"}
  .detail{:id => "display_video", :style => "width:818px;"}
    - if object_type == 'movie'
      %h2{:style => "width:836px;"}
        %span
          = @refer.name + " Videos & Pictures"
    -else
      %h2{:style => "width:818px;"}
        %span
          = @refer.name + " Videos & Pictures"
        .clear{:style => "height:3px"}
    - if @video_list.size > 0
      .left{:style => "width:450px; border:0px solid #dddddd;"}
        =render "/shared/show_videos", :object_type => object_type
    - if @poster_list.size > 0
      .left{:style => "width:360px; border:0px solid #dddddd;"}
        =render "/shared/show_posters", :object_type => object_type
    .clear
