<div style="padding:40px 0;"  class="">
                        <%= render :partial => "/shared/js_function" %>                                                   
                        <%= render :partial => "/home/language_icons_modal" %>
                        <!--div class="squared1">
                                <input type="checkbox" id="squared1" class="chkhindi" name="check" value="Hindi" onclick="setLanguage(this); " />
                                <label for="squared1"></label>
                        </div>

                        <div class="squared2">
                                <input type="checkbox" id="squared2" class="chkenglish" name="check" value="English" checked="true" onclick="setLanguage(this); "  />
                                <label for="squared2"></label>
                        </div>
                        <div class="squared3">
                                <input type="checkbox" id="squared3" class="chktelugu" name="check" value="Telugu" onclick="setLanguage(this); "  />
                                <label for="squared3"></label>
                        </div>

                        <div class="squared4">
                                <input type="checkbox" id="squared4" class="chktamil" name="check" value="Tamil" onclick="setLanguage(this); "  />
                                <label for="squared4"></label>
                        </div>

			<div class="squared5">
                                <input type="checkbox" onclick="setLanguage(this); " value="Kannada" name="check" class="chkkannada" id="squared5">
                                <label for="squared5"></label>
                        </div-->
                </div>
        <!--button style="float:right; width:100px; margin-top:75px;" class="md-trigger btn btn-primary" data-modal="modal-10" onclick="show_process('add_movie_div');">Next</button-->
</div>

