<table width="100%">
	<tr>
		<td>
			<div class="squared1">
				<input type="checkbox" id="squared1" class="chkhindi" name="check" value="Hindi" onclick="setLanguage(this); " />
				<label for="squared1"></label>
			</div>
		</td>
		<td>
			<div class="squared2">
				<input type="checkbox" id="squared2" class="chkenglish" name="check" value="English" onclick="setLanguage(this); " />
				<label for="squared2"></label>
			</div>
		</td>
		<td>
			<div class="squared6">
				<input type="checkbox" id="squared6" class="chkmarathi" name="check" value="Marathi" onclick="setLanguage(this); " />
				<label for="squared6"></label>
			</div>
		</td>
		<td>
			<div class="squared7">
				<input type="checkbox" id="squared7" class="chkgujarati" name="check" value="Gujarati" onclick="setLanguage(this); " />
				<label for="squared7"></label>
			</div>
		</td>
	</tr>
	
	<tr>
		<td>
			<div class="squared4">
				<input type="checkbox" id="squared4" class="chktamil" name="check" value="Tamil" onclick="setLanguage(this); " />
				<label for="squared4"></label>
			</div>
		</td>
		<td>
			<div class="squared11">
				<input type="checkbox" id="squared11" class="chkbengali" name="check" value="Bengali" onclick="setLanguage(this); " />
				<label for="squared11"></label>
			</div>
		</td>
		<td>
			<div class="squared9">
				<input type="checkbox" id="squared9" class="chkbhojpuri" name="check" value="Bhojpuri" onclick="setLanguage(this); " />
				<label for="squared9"></label>
			</div>
		</td>
		<td>
			<div class="squared8">
				<input type="checkbox" id="squared8" class="chkmalayalam" name="check" value="Malayalam" onclick="setLanguage(this); " />
				<label for="squared8"></label>
			</div>
		</td>
	</tr>
	
	<tr>		
		<td>
			<div class="squared3">
				<input type="checkbox" id="squared3" class="chktelugu" name="check" value="Telugu" onclick="setLanguage(this); " />
				<label for="squared3"></label>
			</div>
		</td>
		<td>
			<div class="squared10">
				<input type="checkbox" id="squared10" class="chkpunjabi" name="check" value="Punjabi" onclick="setLanguage(this); " />
				<label for="squared10"></label>
			</div>
		</td>
		<td>
			<div class="squared5">
				<input type="checkbox" id="squared5" class="chkkannada" name="check" value="Kannada" onclick="setLanguage(this); " />
				<label for="squared5"></label>
			</div>
		</td>
		<td>
			<button style="float:left;background: #399DD9;width:100px;" class="md-trigger bold_class" data-modal="modal-10" onclick="show('add_movie_div');">Next</button>
		</td>
	</tr>
	
</table>