<div class="md-content" style="left: 50%; min-height: 300px; width: 1080px; float: left;">
  <div id="first_list_div" style="float: left; width: 100%;">

  </div>

  <button class="btn btn-primary bold_class" style="float: right;display:none;margin-right: 20px;" id="close_muvi_modal" onclick="window.location.href = '/';">Finish!</button>

</div>

