<div class="md-content" style="left: 50%; min-height: 350px; width: 1080px; float: left;">
  <div id="first_movie_div" style="float: left; width: 100%; margin-bottom: -30px; margin-top:15px;">

  </div>

  <button style="float:right; width:100px; margin-top:45px;" class="md-trigger movie_btn btn btn-primary" data-modal="modal-11" onclick="show_process('add_list_div');">Next</button>
</div>

