#loginModal.modal.fade.hide{:style => 'width:365px;'}
  .modal-header
    .pull-right{"data-dismiss" => "modal" , "aria-hidden" => "true"}
      =image_tag("/images/popup_close.png")
    %h4#rateModalLabel
      Login
  .modal-body
  .modal-footer

.container-fluid
  .row-fluid
    .span12{:style => "background-color:#FFFFFF"}
      .span3
        =render :partial => "/home/left_sidebar"

      .span9{:style => "border-left:4px solid #DFDFDF; margin-left: -2px;"}
        %div{:class=>"main_content",:style=>"padding:10px;min-height:500px;"}
          %div{:style=>"font-size:20px;font-weight:bold;height:45px;"}
            Forgot your password
          #errors
          #message

          %form{:action => "send_forgot_password", :method => "post", :onsubmit => "return validate_pe_form();", "data-remote" => "true"}
            %label
              Email Address
            %input{:type => "text", :name => "u_email", :id => "u_email"}

            .clear
            %input{:type => "submit", :value => 'Send reset password instruction', :class => "btn btn-primary bold_class"}

:javascript
  function validate_pe_form(){
    var email = $("#u_email").val();
    if(email == ""){
      $('#message').hide();
      $("#errors").show();
      $("#errors").html("Please enter email");
      $('#errors').css("float", "none");
      $('#errors').css("color", "red");
      $('#errors').css("background", "none");
      $('#errors').css("display", "inline");
      return false;
    }else if(!validateEmail(email)){
      $('#message').hide();
      $("#errors").show();
      $("#errors").html("Please enter valid email address");
      $('#errors').css("float", "none");
      $('#errors').css("color", "red");
      $('#errors').css("background", "none");
      $('#errors').css("display", "inline");
      return false;
    }else{
      $("#errors").hide();
      $('#message').html("You will receive an email with reset password instructions in a while.<div class='clear'></div>").show().css({"display": "inline-block"});
      $('#message').css("float", "none");
      $('#message').css("background", "none");
      $('#message').css("display", "inline");
    }

  }
  function validateEmail(elementValue){
    var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9][a-zA-Z0-9.-]*[\.]{1}[a-zA-Z]{2,4}$/;
    return emailPattern.test(elementValue);
  }

