//$('#message').html("You will receive an email with reset password instructions in a while.<div class='clear'></div>").show().css({"display": "inline-block"});

//$('#message').css("float", "none");
//$('#message').css("background", "none");
//$('#message').css("display", "inline");
