= render 'shared/meta_title_and_keywords', { :key => 'news'}
%div{:style=>"margin-left:400px;"}
  %img{:src => "/images/loading.gif", :id=>"news_loader",:style=>"display:none;position:absolute; z-index:2000;"}
%div{:id => "news_container"}
  =render 'news'
