<%=link_to 'Click', "/pjax" %>
<hr>

<div style="border:1px solid pink; width:300px; float:left;">
	<%= Time.now() %>
</div>
<div style="clear:both; height:50px;"></div>
<div>
	<%= Time.now() %>
</div>
