= render 'shared/meta_title_and_keywords', { :key => ''}

%div{:style => "width: 1100px;background:#ffffff;padding:15px;"}
  %h1
    Send a Muvicard to your loved ones or collect them for yourself, only for Rs 30/-
  .clear{:style => "height:20px"}
  %div
  .clear{:style => 'height:10px'}
  %hr 
  .clear{:style => 'height:10px;'}
  #muviform
    Thank you very much for choosing our card. We will send your to the given address.
