<div class="top_name_bar">
  <h3>Grand Theft Twitter: Bollywood robbed of millions of dollars.</h3>
</div>
<div class="clear"></div>
 <div style="font-size:13px; color:#000000;margin-left:15px;">
 <p>All Izz Not Well,  from <strong><b>&quot;Fandom&quot; twitter has turned into &quot;Spamdom&quot;</b></strong>. With popularity of the medium,it has become a goldmine for unscrupulous spammers who create fake celebrity accounts and use it to dupe innocent fans.<u> </u>Twitter doesn&rsquo;t have any good mechanism of verifying real people. For example, one can create unlimited accounts with the name &lsquo;Amitabh Bachchan&rsquo;, put a picture of Amitabh Bachchan and put any description as he likes to. The only way to know if an account is real is a small blue check mark which in most cases is missed by an average user.<u> </u>In a celebrity hungry country like India this problem is more disturbing. Imposter accounts are being followed by millions of users who don&rsquo;t know that the accounts are fake, and their messages get amplified by retweets. <strong><b>Bollywood is losing over $200 million</b></strong> to these imposter accounts at CPF (Cost Per Follower) calculation (Twitter charges $2.50 to $4 per follower, reference:<a href="http://mashable.com/2011/12/06/cost-of-twitter-follower/" target="_blank">http://mashable.com/2011/12/06/cost-of-twitter-follower/</a>). Adding the CPE (Cost Per Engagement) the number would be double of that. Biggest stars are the worst victims as it&rsquo;s literally their money that is being stolen.</p>
<br>
<p>Most celebrities each have <strong><haveb>50+ fake accounts, </b></strong>some of them over 100 fake accounts</p>
<br><p>Fake accounts of big celebrities on average has over 500,000 followers. <followersstrong><b>Over 50 million people are following fake celebrities</b></strong>.</p>
<br><p> Following infograph is a simpler form of consumption of some of our findings.findings </p>
<!-- <br><p><center><img src="images/gtt_sanjibjpg.jpg" width="520" haseight="1080" alt="twitter infographic" /></center></p> -->
<br><p>The numberers are estimated. They will be higher if we account for slight variation of names such as Amitabh Bachan instead of Amitabh Bachchan or Amir Khan instead of Aamir Khan. Feel free to use the infograph, we will appreciate if you give a little credit to us  (Muvi.com). </p>
<br>
</div>
