<h5>Hi <%= @resource.display_name %>,</h5>

<h5>Please confirm your Muvi.com account by clicking this link:</h5>

<p><%= confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>


<h5> Once you confirm, you will have full access to Muvi.com and all future notifications will be sent to this email address. </h5>

<h5> The Muvi.com Team </h5>

